Source: python-hsn2-proto
Section: python
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6.6-3), python-setuptools, protobuf-compiler
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: python-hsn2-proto
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-protobuf (>=2.4.0a)
Provides: ${python:Provides}
Description: HSN2 python protocol library.
